<div id="<%= dom_id myscript %>">
  <h4>
    <%=myscript.myorder%>. <%= myscript.title %>
  </h4>
  <p>
    <%= myscript.description %>
  </p>

  <code class="moncode">
    <%= myscript.content %>
  </code>
    <br>
      <span>resultat:</span>
  <code class="print">
    <%= myscript.print %>
  </code>



  <p>
    <strong>User:</strong>
    <%= myscript.user_id %>
  </p>

</div>
