<div id="<%= dom_id myotherscript %>">
  <h4>
    <%=myotherscript.myorder%>. <%= myotherscript.title %>
  </h4>
  <p>
    <%= myotherscript.description %>
  </p>

  <code class="moncode">
    <%= myotherscript.content %>
  </code>
  <br>
  <span>resultat:</span>
  <code class="print">
    <%= myotherscript.print %>
  </code>



  <p>
    <strong>User:</strong>
    <%= myotherscript.user_id %>
  </p>

</div>
