<div id="<%= dom_id mypic %>">
  <h4>
    <%=mypic.myorder%>. <%= mypic.title %>
  </h4>

  <p>
    <%= mypic.content %>
  </p>

  <img src="/uploads/<%= mypic.image %>" width="200" height="160"/>

  <p>
    <%= mypic.user_id %>
  </p>

</div>
